<!DOCTYPE HTML>
<html>
	<head>
		<title>Read Better</title>
		<meta charset="utf-8" />
		<meta name="Read Better" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="./assets/main/main_style.css" />
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
					<h1><strong>Read Better</strong><br />
					<br />
					Know what the best minds are reading.<br />
					</h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- Two -->
					<section id="two">
						<h2>Find the books read & recommended by the top leaders here</h2>
						<div class="row">
							<article class="image-box">
								<a href="images\billgates.jpg"><img src="images\billgates.jpg" alt="" class="images" /></a>
								<h3>Bill Gates</h3>
								<p><a href="https://www.twitter.com/BillGates"> @billgates </a></p>
							</article>
							<article class="image-box">
								<a href="images\WarrenBuffett.png"><img src="images\WarrenBuffett.png" alt="" class="images" /></a>
								<h3>Warren Buffett</h3>
								<p><a href="https://www.twitter.com/WarrenBuffett"> @WarrenBuffett </a></p>
							</article>
							<article class="image-box">
								<a href="images\harari_yuval.jpg"><img src="images\harari_yuval.jpg" alt="" class="images" /></a>
								<h3>Yuval Noah Harari</h3>
								<p><a href="https://www.twitter.com/harari_yuval"> @harari_yuval </a></p>
							</article>
							<article class="image-box">
								<a href="images\naval.jpg"><img src="images\naval.jpg" alt="" class="images" /></a>
								<h3>Naval Ravikant</h3>
								<p><a href="https://www.twitter.com/naval"> @naval </a></p>
							</article>
							<article class="image-box">
								<a href="images\RNTata2000.jpg"><img src="images\RNTata2000.jpg" alt="" class="images" /></a>
								<h3>Ratan N. Tata</h3>
								<p><a href="https://www.twitter.com/RNTata2000"> @RNTata2000 </a></p>
							</article>
							<article class="image-box">
								<a href="images\david_perell.jpg"><img src="images\david_perell.jpg" alt="" class="images" /></a>
								<h3>David Perell</h3>
								<p><a href="https://www.twitter.com/david_perell"> @david_perell </a></p>
							</article>
						</div>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			

	</body>
</html>