<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXX-Y"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-XXXXX-Y');
  </script>

  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content="Software services Company, Mobile App Development, Software Development, ERP Software" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name= "robots" content="index, follow">
  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <link rel="canonical" href="https://bizcatapp.com">
  <meta name="msvalidate.01" content=""> <!--Bing site verification -->
  <meta name="google-site-verification" content="">
  <meta property="fb:admins" content="0" >  <!-- enter your numeric Facebook id number -->

  <!-- Meta Properties for Books -->
  <meta property="og:type" content="books.book">
  <meta property="og:title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="books:isbn" content="">
  <meta property="books:rating:value" content="">
  <meta property="books:rating:scale" content="">
  <!-- In the below, In the content, put links with meta property books.author  -->
  <meta property="books:author" content="">
  <meta property="books:author" content="">

  <!-- Meta properties for articles / blog -->
  <meta name="author" content="">  
  <meta property="article:published_time" content="2020-04-21T16:10:20-04:00">
  <meta property="article:modified_time" content="2020-04-28T17:01:56-04:00">
  <meta property="article:section" content="Interviews">
  <meta property="article:publisher" content="https://facebook.com/theceolibrary">

  <meta property="og:locale" content="en_IN">
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:site_name" content="BizCat Applications Pvt. Ltd.">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="Books recommended by people we look up to">
  <meta property="og:image" content="https://www.theceolibrary.com/wp-content/uploads/2017/08/27400_icon_140x140_02.png">
  <meta property="og:image:url" content="https://www.theceolibrary.com/wp-content/uploads/2017/08/27400_icon_140x140_02.png">
  <meta property="og:image:secure_url" content="https://www.theceolibrary.com/wp-content/uploads/2017/08/27400_icon_140x140_02.png">
  <meta property="og:image:width" content="140">
  <meta property="og:image:height" content="140"/>
  <meta property="og:updated_time" content="2020-04-28T17:01:56-04:00">

  <!-- Google+ / Schema.org -->
  <meta itemprop="name" content="The CEO Library"/>
  <meta itemprop="headline" content="The CEO Library"/>
  <meta itemprop="description" content="Books recommended by people we look up to"/>
  <meta itemprop="image" content="https://www.theceolibrary.com/wp-content/uploads/2017/08/27400_icon_140x140_02.png"/>
  <meta itemprop="publisher" content="The CEO Library"/> <!-- To solve: The attribute publisher.itemtype has an invalid value-->
  <meta itemprop="image" content="https://www.theceolibrary.com/wp-content/uploads/2020/04/bogdan-savonea-tps-engage-feat.jpg">
  <meta itemprop="datePublished" content="2020-04-21">
  <meta itemprop="dateModified" content="2020-04-28T17:01:56-04:00">
  <meta itemprop="author" content="Bobby">
  <!-- Twitter Cards -->
  <meta name="twitter:title" content="The CEO Library"/>
  <meta name="twitter:url" content="https://www.theceolibrary.com/"/>
  <meta name="twitter:description" content="Books recommended by people we look up to"/>
  <meta name="twitter:image" content="https://www.theceolibrary.com/wp-content/uploads/2017/08/27400_icon_140x140_02.png"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@theceolibrary"/>

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="normalize/normalize.css">
  <link rel="stylesheet" href="main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

      <nav>Defines a section of navigation links.</nav>
      <header> It's used to wrap introductory information or navigation links for its parent tag and works well around content that's repeated at the top on multiple pages.</header>
      <main>The main element is used to wrap (you guessed it) the main content, and there should be only one per page. It's meant to surround the information that's related to the central topic of your page. It's not meant to include items that repeat across pages, like navigation links or banners.</main>
      <article>article is a sectioning element, and is used to wrap independent, self-contained content. The tag works well with blog entries, forum posts, or news articles.</article>
      <section>Defines a section of a document, such as header, footer etc.
        (or) An article is for standalone content, and a section is for grouping thematically related content. They can be used within each other, as needed. For example, if a book is the article, then each chapter is a section. When there's no relationship between groups of content, then use a div.
      </section>
      <footer></footer>
      
      <!-- Audio content also needs a text alternative to be accessible to people who are deaf or hard of hearing. This can be done with nearby text on the page or a link to a transcript. -->
      <audio id="meowClip" controls>
        <source src="audio/meow.mp3" type="audio/mpeg" />
        <source src="audio/meow.ogg" type="audio/ogg" />
      </audio>
      <source>Defines alternative media resources for the media elements like <audio> or <video>.

      <figure>
        <img src="roundhouseDestruction.jpeg" alt="Photo of Camper Cat executing a roundhouse kick">
        <br>
        <figcaption>
          Master Camper Cat demonstrates proper form of a roundhouse kick.
        </figcaption>
      </figure>
      <figcaption>Defines a caption or legend for a figure.</figcaption>

      <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
      </form>

      <!-- Since radio buttons often come in a group where the user must choose one, there's a way to semantically show the choices are part of a set. -->
      <form>
        <fieldset>
          <legend>Choose one of these three items:</legend>
          <input id="one" type="radio" name="items" value="one">
          <label for="one">Choice One</label><br>
          <input id="two" type="radio" name="items" value="two">
          <label for="two">Choice Two</label><br>
          <input id="three" type="radio" name="items" value="three">
          <label for="three">Choice Three</label>
        </fieldset>
      </form>

      <!-- Continuing with the date theme, HTML5 also introduced the time element along with a datetime attribute to standardize times. This is an inline element that can wrap a date or time on a page. A valid format of that date is held by the datetime attribute. This is the value accessed by assistive devices. It helps avoid confusion by stating a standardized version of a time, even if it's written in an informal or colloquial manner in the text. -->
      <p>...<time datetime="2013-02-13">last Wednesday</time>...</p>

      <!-- You could link to the offending site without signaling to Google that you trust it. -->
      <a href="" rel="nofollow">I love Moz</a>

      <aside>Defines some content loosely related to the page content.</aside>
      <details>	Represents a widget from which the user can obtain additional information or controls on-demand.</details>
      <summary>Defines a summary for the <details> element.</summary>
      <hgroup>Defines a group of headings.</hgroup>
      <span>Defines an inline styleless section in a document.</span>
      <code>Specifies text as computer code.</code>
      <cite>Indicates a citation or reference to another source.</cite>
      <dfn>Specifies a definition.</dfn>
      <em>Specifies emphasized text.</em>
      <mark>Represents text highlighted for reference purposes.</mark>
      <output>Represents the result of a calculation.</output>
      <progress>Represents the completion progress of a task.</progress>
      <blockquote>Defines a long quotation.
      <q>Defines a short inline quotation.</q>
      <address>Specifies the author's contact information.
      <acronym>Defines an acronym.
      <abbr>Defines an abbreviated form of a longer word or phrase.
      <div tabindex="0">I need keyboard focus!</div>

      <a href="tel:+91-7575-806-994">Call us now</a>
      <a href="mailto:krishna@tezi.app">Connect with us over email.</a>
      <h5>&copy; bizcatapp.com</h5>  

      use fonts with below metrics to make them responsive.
      vw (viewport width): 10vw would be 10% of the viewport's width.
      vh (viewport height): 3vh would be 3% of the viewport's height.
      vmin (viewport minimum): 70vmin would be 70% of the viewport's smaller dimension (height or width).
      vmax (viewport maximum): 100vmax would be 100% of the viewport's bigger dimension (height or width).

  <!-- Add your site or application content here -->
  <p>Hello world! This is HTML5 Boilerplate.</p>
  <script src="normalize/vendor/modernizr-3.11.2.min.js"></script>
  <script src="normalize/plugins.js"></script>
  <script src="normalize/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
